@charset "utf-8";
/* CSS Document */

body {
	background-color: #000000;
	margin: 0px;
	font-family:arial;
	background-image: url(http://www.acool.com/images/i2012/20121107bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
ul,ol,li,h1,h3,h4,p {
	margin:0px;
	padding:0px;
	list-style:none;}
p{margin: 0em 0;}
form{margin:0px;display: inline}


/****************************************/
/*** TopTools S
/****************************************/
#site_toolbar {
	background-image: url(/images/i2012/site_toolbarbg.jpg);
	height: 40px;
}
#site_toolbar_inner {
	height: 33px;
	width: 980px;
	margin: 0 auto;
	color:#989898;
	font-size:13px; 
	font-family:arial;
	line-height:40px;
}
#site_toolbar_inner a {
	color: #989898;
	text-decoration: none;
	font-weight: bold;	
}
#site_toolbar_inner a:hover {
	color: #FFFFFF;
	text-decoration: none;

}
#site_toolbar_inner_nr1 {
	height: 33px;
	width: 300px;
	float:left;	
	font-weight: bold;
	color:#FFFFFF;
	text-align:right;
	
}
#site_toolbar_inner_nr2 {
	height: 20px;
	width: 200px;
	float:right;
	margin-top:13px;
}
#site_toolbar_inner_jt1 {
	background-image: url(/images/i2012/site_toolbarhome.jpg);
	height:40px;
	width: 60px;
	margin-right: 5px;
	margin-left: 5px;
	background-repeat: no-repeat;
	float:left;
	text-align:right;
}
#site_toolbar_inner_jt2 {
	background-image: url(/images/i2012/site_toolbarFavorites.jpg);
	height: 40px;
	width: 130px;
	margin-right: 5px;
	margin-left: 5px;
	background-repeat: no-repeat;
	float:left;
	text-align:right;
}
#site_search {
    float:right;
	margin-top: 10px;
	width:452px;
}
.site_search_r_p_156 {
    float:left;
	width:407px;
	height:38px;
	overflow:hidden;
}
.site_search_r_p_62 {
    float:left;
	width:45px;
	height:38px;
	overflow:hidden;
}
.site_search_searchbg{
	height:38px;
	background-image: url(/images/i2012/site_searchbg.jpg);
	background-repeat: repeat-x;
	width: 407px;
	border:0px;
	line-height:38px;
	text-indent: 10px;
	color:#969696;
	font-weight: bold;
}
.site_search_submitbg{
	height:38px;
	background-image: url(/images/i2012/site_submitbg.jpg);
	background-repeat: no-repeat;
	width:45px;
	border:0px;
}

/****************************************/
/*** TopTools E
/****************************************/

#webnav-ul
{
	background-color:#000000;
	width: 980px;
	height:40px;
	background-image: url(/images/navbg02.jpg);
}

#webnav-ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px arial;
}

#webnav-ul li a
{
	display: block;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	line-height: 38px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	margin: 0;
	border: 1px solid #000000;
}

#webnav-ul li a:hover
{
	background-color: #990000;
	background-image: url(/images/navbg01.jpg);
	border: 1px solid #990000;
}

#webnav-ul div
{
	position: absolute;
	z-index:9999;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 3px solid #000000;
	background-color: #212121;
}

#webnav-ul div a
	{
	display: block;
	margin: 0;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #141416;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 30px;
}

#webnav-ul div a:hover
	{
	color: #FFF;
	border: 1px solid #710000;
	background-color: #990000;
}
.webnav {
	height: 40px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}


/****************************************/
/*** site_top S
/****************************************/
#site_top {
	height: 80px;
	width: 980px;
	margin: 0 auto;
}
#site_logo {
	height: 60px;
	width: 250px;
	float:left;
	margin-top: 10px;
	font-family:arial;
	font-weight: bold;
	text-align:center;
	line-height:30px;
	font-size:13px;
}
#site_top_ads {
	height: 60px;
	width: 728px;
	float:left;
	margin-top: 10px;
	margin-left: 2px;
}
#site_menu_top {
	height: 5px;
	width: 980px;
	margin: 0 auto;
	background-color:#fff;
	overflow:hidden;
	}
#site_menu {
	height: 40px;
	width: 980px;
	margin: 0 auto;
	background-color:#000000;
	}
#site_menu a {
	line-height:40px;
	font-size:14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	margin:0 8px 0 8px;
	}
#site_menu a:hover {
	line-height:40px;
	font-size:14px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #EB3327;
}
#site_menu a#current {
	line-height:40px;
	font-size:14px;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #EB3327;
}
#top_ads {
	height: 100px;
	width: 980px;
	margin: 0 auto;
	background-color:#FFFFFF;
}
.top_ads_728 {
	height: 90px;
	width: 728px;
	background-color:#9A9A9A;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 126px;
	float:left;
}

/****************************************/
/*** site_top E
/****************************************/


/****************************************/
/*** site_indexnr S
/****************************************/


#site_indexnr1 {
	height: 480px;
	width: 640px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
}
#site_indexnr1 {
	height: 470px;
	width: 640px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
}
.site_indexnr1_tcolor1 {
	height: 29px;
	width: 5px;
	background-color:#0099FF;
	float:left;
	overflow:hidden;
	margin-right:10px;
}
#site_indexnr1_t1 {
	height: 29px;
	width: 640px;
	background-color:#272727;
	float:left;
	overflow:hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	line-height:29px;
	font-weight: bold;
	color:#FFFFFF;
}
#site_indexnr1 ul {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
}
#site_indexnr1 ul li {
	width:150px;
	height:205px;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;}
.site_pic_span1{display:block;width:150px;height:20px;margin:0 auto;text-align:left;cursor:pointer;overflow:hidden;}
.site_pic_span2{display:block;width:150px;height:60px;margin:0 auto;text-align:left;cursor:pointer;overflow:hidden;color:#666666;font-size:11px;line-height: 15px;}
#site_indexnr1 ul li img { border:0px; width:150px; height:125px;}
#site_indexnr1 ul li a {line-height: 20px;color:#0099FF;text-decoration: none;font-weight: bold; font-size:13px;}
#site_indexnr1 ul li a:hover {line-height: 20px;color:#FE4701;text-decoration: underline;font-weight: bold;font-size:13px;}

#site_indexnr2 {
	height: 470px;
	width: 310px;
	background-color:#000000;
	border: 1px solid #999999;
	float:right;
	overflow:hidden;
}
.site_indexnr_ads{
	height: 250px;
	width: 300px;
	background-color:#9A9A9A;
	float:right;
	overflow:hidden;
	margin: 5px;
}
.site_indexnr_ads2{
	height: 205px;
	width: 300px;
	background-color:#9A9A9A;
	float:right;
	overflow:hidden;
	margin: 0 5px 0 5px;
}

#site_indexnr3 {
	height: 204px;
	width: 960px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
	margin-top: 9px;
}
.site_indexnr1_tcolor2 {
	height: 29px;
	width: 5px;
	background-color:#DF0000;
	float:left;
	overflow:hidden;
	margin-right:10px;
}
#site_indexnr1_t2 {
	height: 29px;
	width: 960px;
	background-color:#272727;
	float:left;
	overflow:hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	line-height:29px;
	font-weight: bold;
	color:#FFFFFF;
}
.site_s1 { width:308px; height:75px; margin:8px 0px 0px 8px; float:left; overflow:hidden;}
.site_s1 img{float:left;width:100px;height:75px;margin:0px 5px 0 0px; border:0px;}
.site_s1_p1{width:203px;height:15px;padding:10px 0 0;overflow:hidden;font-size:13px;}
.site_s1_p1 a {line-height: 15px;color:#0099FF;text-decoration: none;}
.site_s1_p1 a:hover {line-height: 15px;color:#FE4701;text-decoration: underline;}
.site_s1_p2{line-height: 15px;color:#8C8C8C;font-size:11px;}
.site_s1_p2 a{color:#666666;text-decoration: none;}
.site_s1_p2 a:hover{color:#ff6501;text-decoration: underline;}

#site_indexnr4 {
	height: 868px;
	width: 640px;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
	margin-top: 9px;
}
.site_s2 { width:308px; height:75px; margin:8px 0px 0px 8px; float:left; background-color:#2B2B2B; }
.site_s2 img{float:left;width:100px;height:75px;margin:0px 5px 0 0px; border:0px;}
.site_s2_p1{width:203px;height:15px;padding:10px 0 0;overflow:hidden;font-size:13px;}
.site_s2_p1 a {line-height: 15px;color:#0099FF;text-decoration: none;}
.site_s2_p1 a:hover {line-height: 15px;color:#FE4701;text-decoration: underline;}
.site_s2_p2{line-height: 15px;color:#8C8C8C;font-size:11px;}
.site_s2_p2 a{color:#666666;text-decoration: none;}
.site_s2_p2 a:hover{color:#ff6501;text-decoration: underline;}


#site_indexnr5 {
	height: 100%;
	width: 280px;
	float:right;
	overflow:hidden;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
#site_indexnr1_t3 {
	width: 280px;
	float:left;
	overflow:hidden;
	line-height:17px;
	font-weight: bold;
	color:#666666;
	font-size: 14px;
	padding-left: 5px;
	margin-bottom: 5px;
}
#site_indexnr1_t3 a{
	font-size: 14px;
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}
#site_indexnr1_t3 a:hover{
	color: #FF0000;
}
#site_s3 { width:270px; height:75px;  margin:8px 0px 0px 8px; float:left;}
#site_s3 img{float:left;width:80px;height:60px;margin:8px 7px 0 40px; border:0px;}
.site_s3_p1{height:15px;padding:20px 0 0;overflow:hidden;font-size:13px;}
.site_s3_p1 a {line-height: 15px;color:#0099FF;text-decoration: none;}
.site_s3_p1 a:hover {line-height: 15px;color:#FE4701;text-decoration: underline;}
.site_s3_p2 {line-height: 15px;color:#8C8C8C;font-size:13px;}
.site_s3_p2 a{color:#666666;text-decoration: none;}
.site_s3_p2 a:hover{color:#ff6501;text-decoration: underline;}
#site_indexnr6 {
	height: 360px;
	width: 232px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
	margin-top: 9px;
	margin-right: 8px;
}
#site_indexnr7 {
	height: 360px;
	width: 232px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
	margin-top: 9px;
}

.site_s4 { width:295px; height:50px; float:left; overflow:hidden;}
.site_s4 img{float:left;width:50px;height:40px;margin:5px 7px 0 10px; border:0px;}
.site_s4_p1{height:15px;padding:2px 0 0;overflow:hidden;font-size:13px;}
.site_s4_p1 a {line-height: 15px;color:#0099FF;text-decoration: none;}
.site_s4_p1 a:hover {line-height: 15px;color:#FE4701;text-decoration: underline;}
.site_s4_p2 {line-height: 15px;color:#8C8C8C;font-size:13px;}
.site_s4_p2 a{color:#666666;text-decoration: none;}
.site_s4_p2 a:hover{color:#ff6501;text-decoration: underline;}



#site_indexnr6 ul {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
}
#site_indexnr6 ul li {
	width:110px;
	height:95px;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:center;
	margin-top: 13px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;}
#site_indexnr6 ul li span{display:block;width:110px;height:20px;margin:0 auto;text-align:center;cursor:pointer;overflow:hidden;word-wrap:break-word;word-break:break-all}
#site_indexnr6 ul li img { border:0px;}
#site_indexnr6 ul li a {line-height: 20px;color:#0099FF;text-decoration: none;font-size:11px;}
#site_indexnr6 ul li a:hover {line-height: 20px;color:#FE4701;text-decoration: underline;font-size:11px;}

#site_indexnr7 ul {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
}
#site_indexnr7 ul li {
	width:110px;
	height:95px;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:center;
	margin-top: 13px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;}
#site_indexnr7 ul li span{display:block;width:110px;height:20px;margin:0 auto;text-align:center;cursor:pointer;overflow:hidden;word-wrap:break-word;word-break:break-all}
#site_indexnr7 ul li img { border:0px;}
#site_indexnr7 ul li a {line-height: 20px;color:#0099FF;text-decoration: none;font-size:11px;}
#site_indexnr7 ul li a:hover {line-height: 20px;color:#FE4701;text-decoration: underline;font-size:11px;}

/****************************************/
/*** site_indexnr E
/****************************************/





/****************************************/
/*** site_indexdown S
/****************************************/
#site_down_menu {
	height: 110px;
	width: 980px;
	background-color:#272727;
	color:#FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align:center;
	font-size:11px;
	line-height:15px;
}




/****************************************/
/*** site_indexdown E
/****************************************/

/****************************************/
/*** site_class
/****************************************/
.site_class_gg730 {
	height: 110px;
	text-align: center;
	vertical-align: middle;
}
.site_class_gg300 {
	height: 260px;
	width: 310px;
	padding: 5px;
}

.site_class_l {
	float: left;
	width: 640px;
}
.site_class_r {
	float: right;
	width: 310px;
}
.site_class_xx {
	background-image: url(/images/i2012/class_bg01.jpg);
	background-repeat: repeat-x;
	background-position: center;
	height: 4px;
}
.site_class_home {
	font-size: 20px;
	line-height: 40px;
	color: #FE4701;
	font-weight: bold;
    width: 780px;
    height: 40px;
}
.site_class_home a{
	font-weight: bold;
	color: #24B8EB;
	text-decoration: none;
	font-size: 12px;
}
.site_class_home a:hover{
	text-decoration: underline;
}
.site_class_tag{
	line-height: 40px;
	color: 10;
}
.site_class_title {
	height: 30px;
}
.site_class_enter {
	height: 240px;
	width: 310px;
	font-size: 11px;
	line-height: 17px;
}
.site_class_spic {
	float: left;
	height: 100px;
	width: 130px;
}
.site_class_spic img{
	border: 1px solid #999999;
	height: 90px;
	width: 120px;
}
.site_class_info {
	float: left;
	height: 100px;
	width: 180px;
}
.site_class_play {
	width: 310px;
	text-align: center;
	margin-bottom: 10px;
}
.site_class_font_n {
	font-size: 10px;
	font-weight: bold;
}
.site_class_font_n a{
	font-weight: bold;
	color: #990000;
	text-decoration: none;
	background-color: #EDC6C6;
	border: 1px solid #E99797;
	font-size: 10px;
	padding: 2px;
}
.site_class_font_n a:hover{
	font-weight: bold;
	color: #2B81B6;
	text-decoration: none;
	background-color: #D6EAED;
	border: 1px solid #6CC1D0;
	font-size: 10px;
	padding: 2px;
}
.site_class_font_c {
	color: #24B8EB;
}
.site_class_font_d {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	padding-bottom: 10px;
}
.site_class_screen {
	height: 270px;
}
.site_class_bpic {
	height: 250px;
	width: 300px;
	float: left;
	border: 1px solid #000;
	margin-left: 10px;
}
.site_class_gg300_2 {
	height: 250px;
	width: 300px;
	float: left;
	border: 1px solid #000;
	margin-left: 10px;
}

/*播放页面css*/
#site_indexnr {
	height: 100%;
	width: 962px;
	background-color:#FFFFFF;
	padding: 9px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.site_play_gg160 {
	background-color: #CCCCCC;
	height: 600px;
	width: 160px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
}
.site_play_gg730 {
	height: 100px;
	text-align:center;
	background-color:#333333;
	padding-top:10px;
	margin-top: 5px;
}
.site_play_Featured {
	height: 260px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.site_play_l {
	float: left;
	height: 100%;
	width: 170px;
	margin-right: 10px;
	background-color: #000000;
}

.site_play_r {
	float: left;
	width: 780px;
}
.site_play_game {
	background-color: #333333;
	height: 480px;
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}
.site_play_r_l {
	float: left;
	width: 490px;
	margin-right: 10px;
}
.site_play_r_r {
	float: left;
	width: 280px;
}
.site_class_comments {
	text-align: center;
}
.site_play_fav{
height:10px;
overflow:hidden;
}
#loadtext{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}


/*顶部推荐游戏样式*/
#site_indexnr8 {
	height: 258px;
	width: 638px;
	background-color:#000000;
	border: 1px solid #999999;
	float:left;
	overflow:hidden;
}
#site_indexnr8 ul {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
}
#site_indexnr8 ul li {
	width:116px;
	height:95px;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:center;
	margin-top: 13px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;}
#site_indexnr8 ul li span{display:block;width:116px;height:20px;margin:0 auto;text-align:center;cursor:pointer;overflow:hidden;word-wrap:break-word;word-break:break-all}
#site_indexnr8 ul li img { border:0px; height:75px; width:100px;}
#site_indexnr8 ul li a {line-height: 20px;color:#0099FF;text-decoration: none;font-size:11px;}
#site_indexnr8 ul li a:hover {line-height: 20px;color:#FE4701;text-decoration: underline;font-size:11px;}

.site_play_gg300 {
	float: left;
	height: 250px;

	width: 300px;
	background-color: #000000;
	margin-left: 10px;
	padding:5px;
}


/****************************************/
/*** starvote S
/****************************************/
#StarVote{float:right;width:320px;height:40px; }
.user_rate {font-size:14px; position:relative; padding:10px 0;}
	.user_rate p {margin:0; padding:0; display:inline; height:40px; overflow:hidden; position:absolute; top:0; left:100px; margin-left:140px;}
	.user_rate p span.s {font-size:36px; line-height:36px; float:left; font-weight:bold; color:#DD5400;}
	.user_rate p span.g {font-size:22px; display:block; float:left; color:#DD5400;}
	.votes {font-size:13px; display:block; float:left; color:#666666;font-weight: bold;}
/*rating*/
.big_rate_bak {width:140px; height:28px; text-align:left; position:absolute; top:3px; left:85px; display:inline-block; background:url(/AjaxStar/star.gif) left -32px repeat-x;}
	.big_rate_bak b {display:inline-block; width:28px;float:left; height:28px; position:relative; z-index:1000; cursor:pointer; overflow:hidden;}
	.big_rate_up {width:140px; height:28px; position:absolute; top:0; left:0; background:url(/AjaxStar/star.gif) left top;}

/****************************************/
/*** starvote E
/****************************************/
.tag {
	height: 100px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999999;
	background-color: #000000;
}
.tagall {
	height: 100px;
	width: 87px;
	float: left;
}
.tagimg {
	height: 65px;
	width: 87px;
	text-align: center;
	margin-top: 10px;
}
.tagtext {
	width: 87px;
	text-align: center;
	line-height: 25px;
}
.tagtext a{
	font-size: 12px;
	text-decoration: none;
	color: #00CCFF;
}
.tagtext a:hover{
	font-size: 12px;
	text-decoration: underline;
	color: #FF3300;
}

#webfooter {
	width: 980px;
	height: 270px;
	margin-right: auto;
	margin-left: auto;
}
.webfooter_div1 {
	height: 190px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(/images/footer/webfooter_bg1.jpg);
}
.webfooter_div2 {
	height: 100px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.webfooter_menu {
	padding-top: 25px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 25px;
	color: #FF6600;
	font-size: 20px;
	line-height: 20px;
}
.webfooter_menu a {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Tahoma;
}
.webfooter_menu a:hover {
	color: #FF6600;
}
.webfooter_info {
	padding-right: 10px;
	padding-left: 25px;
}
.webfooter_f1 {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Tahoma;
	line-height: 20px;
	padding-bottom: 15px;
}
.webfooter_f2 {
	color: #999999;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial;
}
.webfooter_div3 {
	width: 780px;
	height: 100px;
	float: left;
}
.webfooter_div4 {
	float: left;
	height: 100px;
	width: 200px;
}
.webfooter_logo {
	text-align: center;
	margin-top: 30px;
}
.webfooter_f3 {
	color: #FFFFFF;
	padding-left: 25px;
	line-height: 50px;
}
.webfooter_f3 a {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial;
	margin-right: 20px;
}
.webfooter_f3 a:hover {
	color: #999999;
	text-decoration: underline;
}
.webfooter_f4 {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial;
	line-height: 20px;
	padding-left: 25px;
}

/*playload-tag-S*/
.play_tag {
	width: 170px;
	background-color: #000000;
	height: 100%;
}
.play_tag_icon {
	height: 32px;
	width: 32px;
	float: left;
	margin-left: 10px;
}
.play_tag_text a{
	line-height: 32px;
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: #008DFF;
	font-family: Arial;
	padding-left: 5px;
	text-decoration: none;
}
.play_tag_text a:hover{
	color: #FF0000;
}
.play_tag_icon img {
	height: 32px;
	width: 32px;
}
.play_tag li {
	padding-bottom: 5px;
	width: 100%;
	float: left;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
}
.play_tag_title {
	height: 35px;
	border: 1px solid #000000;
	line-height: 35px;
	padding-left: 10px;
	background-image: url(/images/poptag_bg01.jpg);
	background-repeat: no-repeat;
}
/*playload-tag-E*/

/*site_hotgame-S*/
#site_hotgame_p {
	width: 126px;
	margin-left: 8px;
	float: left;
}
#site_hotgame_p img{
	height: 90px;
	width: 120px;
	border: 1px solid #CCCCCC;
	padding: 3px;
}
.site_hotgame_t {
	width: 126px;
	text-align: center;
}
.site_hotgame_t a{
	color: #0099FF;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
}
.site_hotgame_t a:hover{
	color: #FF0000;
	text-decoration: none;
}
/*site_hotgame-E*/

/*duilian-s*/
.banr {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    color: #FFFFFF;
    height: 600px;
    left: 50%;
    margin-left: 499px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 449px;
    position:absolute;
    top: 0;
    width: 160px;
    z-index: 1001;
}

/*duilian-e*/